* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'share tech mono';
 
}

main {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

section {
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 23rem;
    height: 21rem;
    
}

div {
    
    border-left-width: 0px;
    border-top-width: 0px;
    border: 1px solid white;
    padding: 0 1px 1px 0;
    width: 10.5rem;
    height: 3.7rem;

}

button {
    background-color: transparent;
    border:1px solid white;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 10.3rem;
    height: 3.5rem;
    
}

