* { 
    font-family: 'share tech mono';
}

main {
    width: 90%;
    height: 90%;
    margin: 7% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "caja1"
    "caja2"
    "button"; 
    gap: 2em;
    row-gap: 2rem; 
    /* grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    ". ."
    "caja1 caja2"
    "button button"; 
    gap: 2em;
    row-gap: 2rem; */
}

section:nth-of-type(1){
    grid-area: caja1;
    background-color: black;

}

section:nth-of-type(2){
    grid-area: caja2;
    background-image: url(/img/spider.gif);
    margin: 0;
}



section:nth-of-type(1), section:nth-of-type(2){
    border: 2px solid white;
    color: white;
    padding: 10%;
    margin: 0 ;

}

p {
    padding: 0.5em;
}
p span {
    color: #FF0000;
}

section:nth-of-type(3) {
    grid-area: button;
    margin: 5% auto;
    border-radius: 5px 0px 5px 0px;


}



@media (min-width: 700px) and (orientation: landscape) {
    main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caja1 caja2"
    "button button"; 
 }}